<h1>Bands</h1>

<p><a href="/new_band">Add a New Band</a></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Genre</th>
      <th>Nom</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @bands.each do |band| %>
    <tr>
          <td><%= band.name %></td>
          <td><%= band.genre %></td>
          <td><%= band.nom %></td>
          <td><a href="/bands/<%= band.id %>">Show</a>
        </td>
      <td><a href="/bands/<%= band.id %>/edit">Edit</a></td>
      <td><a href="/bands/<%= band.id %>/destroy">Destroy</a></td>
    </tr>
  <% end %>
  </tbody>
</table>

