<h1>Bands</h1>

<p><a href="/new_band">Add a New Band</a></p>

  <% @bands.each do |band| %>
<h3><%= band.name %> <small><%= band.genre %></small></h3>
          <a href="/bands/<%= band.id %>">Show</a> | <a href="/bands/<%= band.id %>/edit">Edit</a> | <a href="/bands/<%= band.id %>/destroy">Destroy</a>

  <% end %>


