<h1><%= @band.name %> <small><%= @band.genre %></small></h1>

<div>
  <h3><%= @band.nom %> members:</h3>
  <ul>
    <% Member.where(band_id: @band.id). each do |member| %>
      <li> <a href='/members/<%= member.id %>'><%= member.name %> </a></li>
    <% end %>
  </ul>
  <a href='/new_member'> Add a new member </a>
</div>
<div>
  <h3>Venues:</h3>
  <ul>
    <% BandVenue.where(band_id: @band.id).each do |bv| %>
    <li><%= Venue.find_by(id: bv.venue_id).city %>, <%= Venue.find_by(id: bv.venue_id).country %> : <%= bv.date%>, <%= bv.time%> <a href="/bands/<%= @band.id %>/delete_venue/<%= bv.id%>"> Delete </a></li>
    <%end%>
  </ul>
</div>

<strong> Add Venue </strong>
<form action = "/bands/<%= @band.id %>/add_venue">
<select name="venue_id">
  <% Venue.all.each do |venue| %>
  <option value="<%= venue.id%>"><%= venue.city%>, <%= venue.country%> </option>
  <% end %>
</select>
  <input name="date" type='date' placeholder='date'>
  <input name="time" type='time' placeholder='time'>
  <input type="submit">
</form>

<a href="/bands/<%= @band.id %>/edit">Edit</a> |
<a href="/bands/<%= @band.id %>/destroy">Destroy</a>

