<h1>Editing Member #<%= @member.id %></h1>

<form action="/members/<%= @member.id %>/update">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" value="<%= @member.name  %>" type="text" />
  </div>
  <div>
    <label for="age">age</label><br />
    <input id="age" name="age" value="<%= @member.age  %>" type="text" />
  </div>
  <div>
    <label for="picture">picture</label><br />
    <input id="picture" name="picture" value="<%= @member.picture  %>" type="text" />
  </div>

  <div>
    <input type="submit">
  </div>
</form>


