<h1>Members</h1>

<p><a href="/new_member">Add a New Member</a></p>

  <% @members.each do |member| %>
<h4><%= member.name %> <small><%if Band.find_by(id: member.band_id)%> <%=Band.find_by(id: member.band_id).name %><%end%></small></h4>

<a href="/members/<%= member.id %>">Show</a> |
<a href="/members/<%= member.id %>/edit">Edit</a> | <a href="/members/<%= member.id %>/destroy">Destroy</a>
  <% end %>



