<h1><%= @member.name %> <small> <%= Band.find_by(id: @member.band_id).name %></small></h1>
          <img src="<%= @member.picture %>" alt="">
      <p>Age <%= @member.age %></p>
<a href="/members/<%= @member.id %>/edit">Edit</a> | <a href="/members/<%= @member.id %>/destroy">Destroy</a>

